################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HireMe/v17/.wsuo
/.vs/HireMe/FileContentIndex/03ecad31-30cf-4de5-8ed0-147a72d47ec5.vsidx
/.vs/HireMe/FileContentIndex/10917fd6-62f2-40a7-af43-1f42afd7ac28.vsidx
/.vs/HireMe/FileContentIndex/1bc47056-7643-40b2-9d2a-855e3f64ddd7.vsidx
/.vs/HireMe/FileContentIndex/1f79d31e-8688-45a8-9269-ed42e21f20f2.vsidx
/.vs/HireMe/FileContentIndex/7c074168-1de7-4145-9165-d5857d240998.vsidx
/.vs/HireMe/config/applicationhost.config
/.vs/HireMe/FileContentIndex/d9c0c48d-c8a4-4600-94da-9e4827318147.vsidx
/.vs/HireMe/FileContentIndex/27416e4d-9c9a-4257-a05c-30fc51f8d2ea.vsidx
/.vs/HireMe/FileContentIndex/54b3416d-4a56-42bc-8f63-50dce35546ca.vsidx
/.vs/HireMe/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/HireMe/FileContentIndex/e049ce16-243b-4be8-a4fd-8fd85ea5442a.vsidx
/.vs/HireMe/FileContentIndex/05e22a36-b04b-4cb6-a728-2f4631168e30.vsidx
/.vs/HireMe/FileContentIndex/611b3892-a1c3-4549-8b27-554e66419b84.vsidx
/.vs/HireMe/FileContentIndex/ed307a7d-81f9-4df3-b60a-100c29573208.vsidx
/.vs/HireMe/FileContentIndex
